.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-class{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 5rem;
    height: 5rem;
}

.miniContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submit-btn {
    margin:1rem;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    color: white;
    background-color: #ff3399;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(255, 51, 153, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #ff66b2;
    transform: translateY(-2px);
  }
  
  .submit-btn:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(255, 51, 153, 0.3);
  }